<nav>
    <div class="link" routerLinkActive="active">
        <a routerLink="ourStudio">Nasze studio</a>
    </div>

    <div class="link" routerLinkActive="active">
        <a routerLink="reservation">Zarezerwuj sesję</a>
    </div>

    <div class="link" routerLinkActive="active">
        <a routerLink="/main">YourPhoto</a>
    </div>

    <div class="link" routerLinkActive="active">
        <a routerLink="tools">Sprzęt</a>
    </div>

    <div class="link" routerLinkActive="active">
        <a routerLink="login">Zaloguj</a>
    </div>
</nav>