:host {
    position: relative;
    text-align: center;
    width: 100vw;
    height: 7vh;
    background: #424242;
    color: white;
    flex-shrink: 0;
}

p {
    display: block;
    margin: auto;
    line-height: 7vh;
}