
.form-container {
    position: absolute;
    background: rgba(0, 0, 0,0.7);
    width: 60vw;
    border-radius: 20px;
    z-index: 1;
    top: 13vh;
    left: 20vw;
    box-shadow: 2px 2px 5px black;
}

.form-title {
    margin: 0.2rem 0;
    padding: 0;
    color: white;
    font-size: 2.5rem;
}

::placeholder {
    color: #718093;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin: auto;
    padding: 2rem 3rem;
}

input,
select{
    position: relative;
    outline: none;
    background:rgba(45, 52, 54, 0.75);
    border: none;
    padding: 1rem;
    border-radius: 16px;
    box-sizing: border-box;
    text-align: center;
    text-align-last: center;
    -moz-text-align-last: center;
    color: white;
}

input:hover,
input:active,
select:hover,
select:active {
    border-bottom: 2px solid #60a3bc;
    background:rgba(45, 52, 54, 0.75);
}

select {
    appearance: none;
    background: rgba(45, 52, 54, 0.75) url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat 97% center;
}

option {
    color: black;
}

.buttons-wrapper {
    grid-column: span 2;
}

input[type="submit"],
input[type="reset"] {
    width: 12rem;
    margin: 0 1rem;
    background: #60a3bc;
    border: none;
    transition: ease-out 0.5s;
}

input[type="submit"]:not([disabled]) {
    box-shadow: inset 0 0 0 0  rgba(46, 213, 115,1.0);
}

input[type="reset"] {
    box-shadow: inset 0 0 0 0  rgba(255, 71, 87,1.0);

}

input[type="submit"]:hover:not([disabled]),
input[type="submit"]:active:not([disabled]) {
    box-shadow: inset 12rem 0 0 0  rgba(46, 213, 115,1.0);
}

input[type="reset"]:hover,
input[type="reset"]:active {
    box-shadow: inset 12rem 0 0 0  rgba(255, 71, 87,1.0);
}

input[type="submit"]:disabled,
input[type="submit"]:hover:disabled {
    background: #7f8fa6;
    transition: none;
}

.error-text {
    color: red;
    font-size: 0.75rem;
}
